build/
__pycache__/
presets.txt
CMakeUserPresets.json

# VSCode
.vscode/

# CLion
.idea/
cmake-build*/

# QtCreator
CMakeLists.txt.user

# KiCad
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

gerber/
*.svg
*.dxf
*.step
